<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question_List</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load pybo_filter %}
    {% block content %}
    <div class = "container my-3">
        <table class = "table">
            <thead class = "text-center thead-dark">
                <tr>
                    <th>번호</th>
                    <th style ="width:50%">제목</th>
                    <th>글쓴이</th>
                    <th>작성일시</th>
                </tr>
            </thead>
            <tbody>
             {% if question_list %}
             {% for question in question_list %}
              <tr class = "text-center">
                <!--namespace : {% url 'app_name : path로 지정한 name값' -->
                <!--namespace를 이용해야되는 이유 : 서로다른 프로젝트에서 path에 지정된 url name(별칭)값이 충돌이 안일어나게 할려고-->
                <!-- URL별칭(NAME)은 템플릿 외에도 여러곳에서 사용 가능
                    EX)redirect함수 : redirect('pybo:detail', question_id=question.id)
                -->
                <td>{{ question_list.paginator.count|sub:question_list.start_index|sub:forloop.counter0|add:1 }}</td>
                <td class = "text-left">
                    <a href = "{% url 'pybo:detail' question.id %}">
                       {{ question.subject }}
                    </a>
                    {% if question.answer_set.count > 0 %}
                    <span class ="text-danger small ml-2">
                        {{ question.answer_set.count }}
                    </span>
                    {% endif %}
                </td>
                <td>{{ question.author.username }}</td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan = "3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in question_list.paginator.page_range %}
            {% if page_number >= question_list.number|add:-5 and page_number <= question_list.number|add:5 %}
            {% if page_number == question_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    <!-- 페이징처리 끝 -->
        <a href="{% url 'pybo:question_create' %}" class = "btn btn-primary">질문 등록하기</a>
      </div>
      {% endblock %}
</body>
</html>